.container_technology {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .container_technology {
    background-image: url("./assets/technology/background-technology-mobile.jpg");
    height: 170vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .nav {
    visibility: hidden;
  }
}
