.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;
}

.text_content {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 50%;
  justify-content: space-between;
}

.explore_container {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 50%;
}

.explore {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border-width: 1px;
  background-color: aliceblue;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .text_content {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .explore_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .explore {
    height: 200px;
    width: 200px;
    border-radius: 130px;
    border-width: 1px;
    margin-top: 50px;
    background-color: aliceblue;
    align-content: center;
    justify-content: center;
  }
}
